body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif !important;
	color: #515868;
	background-color: #FBFAFF !important;
}

h1, h2, h3, h4, h5, h6, strong {
	color: #200E32;
	font-weight: 700;
}

/*Font size*/
.fs-7 {
	font-size: 14px;
}
.fs-8 {
	font-size: 12px;
}
.fs-9 {
	font-size: 10px;
}

/*Letter space*/
.ls-1 {
	letter-spacing: 1px;
}

/*Wrapping*/
.wrapper {
	position: relative;
	margin: 0;
	padding: 0;
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80px;
	height: 100%;
	background-color: #fff;
	padding: 15px;
}
.content {
	width: calc(100% - 80px);
	margin-left: 80px;	
	padding: 0 100px 50px;
}
.auth-section {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
	align-items: center;
	justify-content: center;
}

/*Button*/
.btn {
	padding: .8rem .75rem;
	font-weight: 600;
}

.btn-primary {
	background-color: #4318FF;
	border-color:#4318FF;
}
.btn-primary:hover {
	background-color: #2b00e8;
	border-color:#2b00e8;
}
.btn-outline-primary:focus,
.btn-outline-primary:hover {
	background-color: #4318FF;
	border-color:#4318FF;
	color: #fff;
}

.btn-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	border-radius: 46px;
}

.btn-circle-sm {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 35px;
}

.btn-circle-primary {
	background-color: #4318FF;
	border: 1px solid #4318FF;
}
.btn-circle-primary:hover {
	background-color: #2b00e8;
}
.btn-circle-primary:focus {
	box-shadow: 0 4px 10px 0 #c3b6ff;
}

.btn-circle-light {
	background-color: #fff;
	border: 1px solid #fff;
}
.btn-circle-light.active,
.btn-circle-light:focus,
.btn-circle-light:hover {
	background-color: #F4F1FF;
	border-color: 1px solid #F4F1FF;
}

.btn-remove {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: .2rem .6rem;
	border-color: 4px;
	border-radius: 4px;
	border: 1px solid #E31A1A;
}


/*Card*/
.card-img {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-color: #eee;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*overflow: hidden;*/
}
.card-img-option {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
}
.btn-option {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	width: 35px;
	border-radius: 35px;
	border: 1px solid #ffffff30;
	background-color: #ffffff30;
}
.btn-option:focus,
.btn-option:hover {
	background-color: #ffffff8f;
	border: 1px solid #ffffff8f;
}

/*Icon menu*/
.icon-menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.icon-menu-item {
	padding: 0;
	margin: 0 0 15px 0;
}
.icon-menu-item:last-child {
	margin-bottom: 0 !important;
}


/*Border*/
.rounded-custom {
	border-radius: 20px;
}
.rounded-custom img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.rounded-custom-sm {
	border-radius: 10px;
}
.rounded-custom-sm img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


/*Form*/
.form-label {
	margin-bottom: .75rem;
	color: #515868;
	font-weight: 500;
}
.form-control,
.form-select,
.input-group-text {
	padding: .8rem .75rem;
	background-color: #F4F7FE;
	border-color: #F4F7FE;
	border-radius: .5rem
}
.form-input-file {
	cursor: pointer;
}
.form-check-input {
	cursor: pointer;
}


/*Text*/
.text-muted {
	color: #A3AED0 !important;
}
.text-primary {
	color: #4318FF !important;
}
.text-success {
	color: #01B574 !important;
}
.text-danger {
	color: #E31A1A !important;
}
.text-loader {
	height: 18px;
	background-color: #eee;
	border-radius: 3px;
}

/*Background */
.bg-primary {
	background-color: #4318FF !important;
}

/*Shadow*/ 
.shadow-custom {
	box-shadow: 4px 4px 30px 0 #4318ff03;
}
.shadow-custom:hover {
	box-shadow: 4px 4px 30px 0 #4318ff1c;
}


/*Dropdown */
.dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 10px;
	min-width: 200px;
	border: 1px solid #e1e1e1 !important;
	box-shadow: 4px 4px 30px 0 #4318ff1f;
}
.dropdown-item {
	padding: .75rem;
}
.dropdown-item:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.dropdown-item:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.dropdown-item:hover,
.dropdown-item:focus {
	background-color: #F4F1FF !important;
	color: #515868;
}
.dropdown-item span {
	overflow: inherit;
}


/*Alert*/
.alert-dialog {
	position: fixed;
	display: flex;
	align-items: flex-start;
	bottom: 15px;
	right: 15px;
	background-color: #fff;
	z-index: 30;
	box-shadow: 0 4px 30px 0 #ddd;
	border-radius: 10px;
	padding: 15px;
}
.alert-dialog-icon {
	margin-top: 1px;
}


/*Border*/
.border-success {
	border-color: #01B574 !important
}
.border-danger {
	border-color: #E31A1A !important
}


/*Image */
.image-file {
	position: relative;
	width: 250px;
	height: 250px;
	overflow: hidden;
	border-radius: 10px !important;
}
.image-file img {
	border-radius: 10px !important;
}


/*Custom*/
.btn-group > 
.btn:not(:last-child):not(.dropdown-toggle), 
.btn-group > 
.btn-group:not(:last-child) > 
.btn {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.btn-group > 
.btn:nth-child(n+3), 
.btn-group > :not(.btn-check) + .btn, 
.btn-group > 
.btn-group:not(:first-child) > 
.btn {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.input-group input {
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
}
.input-group button {
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}
.cursor-pointer {
	cursor: pointer;
}
.custom-modal.show {
	display: flex;
	align-items: center;
	justify-content: center;
}
.custom-modal {
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #ffffffbf;
	z-index: 20;
	padding: 15px;
}
.custom-modal-md {
	width: 100%;
}
.alert-custom-primary {
	background-color: #e3eeff !important;
	border-color: #9fc7ff !important;
}
.bg-primary-light {
	background-color: #e3eeff;
}

/*Circle Progress Bar*/
.circle-wrap {
  	margin: 150px auto;
  	width: 150px;
  	height: 150px;
  	background: #fefcff;
  	border-radius: 50%;
  	border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  	width: 150px;
  	height: 150px;
  	position: absolute;
  	border-radius: 50%;
}

.circle-wrap .circle .mask {
  	clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  	width: 122px;
  	height: 122px;
  	border-radius: 50%;
  	background: #d2eaf1;
  	line-height: 120px;
  	text-align: center;
  	margin-top: 14px;
  	margin-left: 14px;
  	color: #1e51dc;
  	position: absolute;
  	z-index: 100;
  	font-weight: 700;
  	font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  	clip: rect(0px, 75px, 150px, 0px);
  	background-color: #227ded;
}

.mask.full,
.circle .fill {
  	animation: fill ease-in-out 3s;
  	transform: rotate(135deg);
}

@keyframes fill{
  	0% {
    	transform: rotate(0deg);
  	}
  	100% {
    	transform: rotate(135deg);
  	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
	/*Wrapping*/
	.content {
		padding: 15px;
	}
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	/*... */
	.custom-modal-md {
		width: 100%;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	/*... */
	.custom-modal-md {
		width: 60%;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	/*... */
	.custom-modal-md {
		width: 40%;
	}
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	/*... */
}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
	/*... */
}